# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\makis_000\Desktop\OSU\1 - Zimní Semestr\7ALG1 - Základy Algoritmizace\CASINO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
